:80 {
  @new path /new /new/*
  handle @new {
    reverse_proxy webserver:80 {
      header_up X-Forwarded-Proto https
    }
  }

  @old path /old /old/*
  handle @old {
    reverse_proxy webserver-old:80 {
      header_up X-Forwarded-Proto https
    }
  }

  handle {
    respond "Not found" 404
  }
}
